@font-face {
    font-family:proxima ;
    src: url("./Rene\ Bieder\ \ Milliard\ Medium.otf");

}

@font-face {
    font-family: regular ;
    src: url("./Rene\ Bieder\ \ Milliard\ Light.otf");
}

*, ::after, ::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
display:flex;
flex-wrap: wrap;
justify-content: space-between;


}
 
body{
width: 100%;
 }

.logo{
    display: flex;
    justify-content: space-between;
    width: 15px ;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;

}




.bouton .conect{
    width: 150px;
    height: 40px;
    background: #fd546c;
    color: blanchedalmond;
    border-radius: 7px;
    margin-top: 15px;
    margin-left: 25px;
}

.bouton .langue{
    color: #667180;
}


.menu{
    display: flex; 
    justify-content: flex-start; 
    width: 40%;
    align-items: center;
    

}
.listemenu{
color: #667180;
display: flex;    
font-size:larger; 
justify-content: space-between; 
width: 70%;
list-style: none;
}

h3{
    display: flex; 
    justify-content: center;
    color: #fd546c;
    margin-top: 30px;
    margin-bottom: 35px;
    margin-top: 15px;
}

body .p{
    display: flex; 
    justify-content: center;
    

}

.secteur{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-left: 35%;
    width: 35%;

}

.tete>img{
    width: 100%;
    
    
}

.com{
    display: flex;
    justify-content: center;
    width: 50% ;
    margin-left: 25%;
    margin-bottom: 25px;
    font-family: "regular";
    color: #667180;
    text-align: center;
    font-size: 0.88rem;

}
.video{
    display: flex;
    justify-content: center;


}
.imga{
    display: flex;
    justify-content: space-between; 
    margin-left: 25%;
    width: 50%;
    margin-bottom: 15px;
    

    
}

.secteura{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-left: 35%;
    width: 35%;
    margin-top: 15px;

}

.imgb{
    display: flex;
    justify-content: space-between; 
    margin-left: 25%;
    width: 50%;
    margin-bottom: 15px;

}

.texta{
    display: flex;
    justify-content: space-between; 
    color: #667180;
    

}

.imgc{
    display: flex;
    margin-left: 40%;
    width: 50%;
    margin-bottom: 15px;

   
}

.text{

    display: flex;
    justify-content: space-around; 
    color: #667180;
}
.text .t1{
    
    margin-left: 20%;
    width: 398px;
    height: 306px;
    font-family: "regular";
    margin-bottom: 15px;
}

.text .t2{
    display: flex;
     
    margin-right: 20%;
    width: 398px;
    height: 306px;
    font-family: "regular";
    margin-bottom: 15px;
}




.textc{
    margin-left: 30%;
    width: 398px;
    height: 537px;
    font-family: "regular";
    color: #667180;

}



.texta .t3{
    margin-left: 25%;
    width: 398px;
    height: 537px;
    font-family: "regular";

}

.texta .t4{
    margin-right: 25%;
    width: 398px;
    height: 537px;
    font-family: "regular";

}

.textc .t5{
    margin-left: 50%;
    width: 398px;
    height: 537px;
    font-family: "regular";

}
.zone{
    display: flex;
    justify-content: space-between; 
    flex-direction: 50%;
    flex-wrap: wrap;
}

.sec{
    margin-left: 5%;
    


}


.end {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    list-style: none;
    margin-top: 3%;
    
}
.secu{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    list-style: none;

}

.secu h2{

    margin-bottom: 7%;
}

.cred{
    display: flex;
    flex-direction: column;   
    list-style: none;
}    
    


.emp {

    display: flex;
    flex-direction: column;
    list-style: none;
    align-content: flex-start;
    
    
    

}

.emp h2{
    margin-bottom: 7%;
}

.rs{
    display: flex;
    list-style: none;
    align-items: center;
}

.rs h2{

margin-bottom: 7%
}

.leg{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-right: 10%;
}

.leg h2{
    margin-bottom: 7%;
}


    
.bouton .rj{
    display: flex;
    background-image: linear-gradient(262deg, coral,hotpink);
    width: 150px;
    height: 40px;
    color: blanchedalmond;
    border-radius: 35px;
    margin-left: 50%;
    padding: 10px;
    
    
    

}


.charger{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    
    
}

.charger p{
    margin-right: 1.3% ;
}

.portraitimagec{
display: flex;

}

.portraitimagec .app{

    margin-right: 15%;
}

.bouton .rj button:hover{
    background: #fd546c;

}

.mention{
display: flex;
justify-content: space-between;
margin-top: 3%;
margin-left: 5%;
margin-right: 5%;
list-style: none;
}