@font-face {
    font-family:proxima ;
    src: url("./Rene\ Bieder\ \ Milliard\ Medium.otf");

}

@font-face {
    font-family: regular ;
    src: url("./Rene\ Bieder\ \ Milliard\ Light.otf");
}

*, ::after, ::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
display:flex;
flex-wrap: wrap;
justify-content: space-between;

}
 
body{
width: 100%;
 }

.logo{
    display: flex;
    justify-content: space-between;
    width: 15px ;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;

}




.bouton .conect{
    width: 150px;
    height: 40px;
    background: #fd546c;
    color: blanchedalmond;
    border-radius: 7px;
    margin-top: 15px;
    margin-left: 25px;
}

.bouton .langue{
    color: #667180;
}


.menu{
    display: flex; 
    justify-content: flex-start; 
    width: 40%;
    align-items: center;
    

}
.listemenu{
color: #667180;
display: flex;    
font-size:larger; 
justify-content: space-between; 
width: 70%;
list-style: none;
}
.tête{
    background-color:rgba(128, 128, 128, 0.555);
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 400px;
    align-items: center;
    
}
.content{
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    
width: 25%;
}

.tête .carte{
    display: flex;
    width: 50px;
    height: 70px;
    align-items: center;
    justify-content: center;
    
}

form .button{
    background-image: linear-gradient(262deg, coral,hotpink);
    padding: 10px 25px; 
    border-radius: 30px;
    color: aliceblue;
    

}

.content button:hover{
background: #fd546c;

}
.content h1{
    font-size: 40px;
    font-family: "proxima";
    font-style: italic;
    font-weight: bolder;
}

.content p{
font-family: "regular";
color: #667180;
margin-top: 40px;


}

.carte{
    margin: auto;
}

.corps{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.superlike,.boost{
    display: flex;
    flex-direction: row;
    
    width: 60%;
    align-items: center;
}

.texts{
    display: flex;
    flex-direction: column;
    margin-right: 45px;
}

.textb{

    display: flex;
    flex-direction: column;
    margin-left: 45px;
}

.texts p, .textb p{
    color: #667180;

}
.superlike h2, .boost h2{
    font-family: "proxima";
    
}

.superlike p, .boost p{
    font-family: "regular";
    margin-top: 20px;
}
.inscris{

    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.zone{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 5% ;

}



.end{
    display: flex;
    justify-content: space-between;
    
    margin-right: 5%;
}

.foot{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 5%;
    list-style: none;


}

.secu{
    
    list-style: none;
}

.secu h3{
    margin-bottom: 7%;
}
.leg{
    list-style: none;

}

.leg h3{
    margin-bottom: 7%;

}

.emp{

    list-style: none;
}

.emp h3{

margin-bottom: 7%;
}

.rs{
    display: flex;
    list-style: none;
    align-items: center; 
    justify-content: space-between;
    

}

.rs h3{
    margin-bottom: 7%;
}
.contact{
    list-style: none;

}

.charger{
    display: flex;
   margin-top: 3%;
    margin-left: 5%;
}

.charger h3{
    margin-top: 0.7%;

}
.charger .portraitimagec{
    display: flex;
    justify-content: space-between;
    margin-left: 1.3%;
    margin-bottom: 3%;
    

}

.portraitimagec .app {
    margin-right: 15%;

    
}
 .mention{
display: flex;
text-align: center;
align-items: center;

 }

.mention li{
    display: flex;
    margin-left: 5%;
    
}

.mention .conf{
    display: flex;
    margin-left: 30%;
    margin-right: 3%;

}
    
    


.vamos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 4%;
}

